body{
  background-image: url("icons/background.jpg");
}

.devices_box {
  background-color: rgba(56, 64, 83, 0.452);
  color: white;
  width: 390px;
  height: 80px;
  margin: auto;
  padding: 10px;
}

.contributors{
  position: fixed;
  color: gold;
  margin-bottom: 1px;
  margin-left : 1px;
  bottom: 0;
}

.pc{
  background-image: url("icons/pc.png");
  color: white;
  padding: 20px;
  margin-left: 5px;
  width: 85px;
  height: 45px;
  float: left;

}

.router{
  background-image: url("icons/router.png");
  color: white;
  padding: 20px;
  margin-left: 5px;
  width: 85px;
  height: 45px;
  float: left;
}

.sniffer{
  background-image: url("icons/sniffer.png");
  color: white;
  padding: 20px;
  margin-left: 5px;
  width: 85px;
  height: 45px;
  float: left;
}


.conn{
  background-color: rgb(255, 126, 126);
  color: white;
  padding: 20px;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  float: left;
}

.draggable {
  line-height: 40px;
  padding: 15px;
  float: left;
  margin: 1em;
  border: 1px dotted;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.demo {
  border: 5px double;
  z-index: 2;
  display: table;
  border-radius: 90px;
  color: rgb(200, 200, 200);
  color: rgba(0, 0, 0, 0.7);
}
.demo:hover {
  color: #55f;
}
.demo2 {
  border: 3px dotted #051;
  opacity: 0.5;
  z-index: 1;
  border-radius: 100%;
  pointer-events: none;
}
.fast {
  border: 3px solid #051;
  opacity: 0.5;
  z-index: 1;
  border-radius: 100%;
  pointer-events: none;
}
.demo3 {
  border: 7px dashed #951;
  opacity: 0.5;
  z-index: 1;
  pointer-events: none;
  border-radius: 21px;
}
.demo span {
  z-index: 1;
  background: black;
  color: white;
  opacity: 0.7;
  position: absolute;
  display: block;
  margin: auto;
  padding: 0.3em 0.6em;
  border-radius: 10px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}
.demo:hover span {
  background: #55f;
  opacity: 1;
}
.connection-border-right span {
  left: 1em;
}
.connection-border-left span {
  right: 1em;
}
.connection-border-top span {
  top: 1em;
}
.connection-border-bottom span {
  bottom: 1em;
}