.devices_box {
  background-color: rgba(56, 64, 83, 0.452);
  color: white;
  padding: 20px;
  width: 400px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  float: left;
}

.pc{
  background-image: url("icons/pc.png");
  color: white;
  padding: 20px;
  margin-left: 5px;
  width: 85px;
  height: 45px;
  float: left;

}

.router{
  background-image: url("icons/router.png");
  color: white;
  padding: 20px;
  margin-left: 5px;
  width: 85px;
  height: 45px;
  float: left;
}

.sniffer{
  background-image: url("icons/sniffer.png");
  color: white;
  padding: 20px;
  margin-left: 5px;
  width: 85px;
  height: 45px;
  float: left;
}

.tool_box {
  background-color: black;
  color: white;
  padding: 20px;
  margin-left: 20px;
  width: 200px;
  height: 60px;
  float: left;
}

.conn{
  background-color: rgb(255, 126, 126);
  color: white;
  padding: 20px;
  margin-left: 5px;
  width: 20px;
  height: 20px;
  float: left;
}
